.header {
	position:relative;
	top: 0;
	height: 100px;
	width: 90%;
	background-color: #712177;
  	padding: 60px;
  	color: white;
  	font-size: 30px;
}

.RGU_logo {
	position: absolute;
	top: 20px;
	left: 5px;
	background-color: #712177;
}


.Home {
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	margin: 5px;
	padding: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-weight:bold;
	color: white;
	font-size: 30px;
}

.Socials {
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	margin: 5px;
	padding: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-weight:bold;
	color: white;
	font-size: 30px;
}

a:link {
	vertical-align:bottom;
	text-decoration:none;
	color: white;
	font-size: 25px;
	padding: 15px;
}
a:visited {
	vertical-align:bottom;
	text-decoration:none;
	color: white;
	font-size: 25px;
	padding: 15px;
}
a:hover {
	vertical-align:bottom;
	text-decoration:none;
	color: white;
	font-size: 25px;
	padding: 15px;
}
a:active {
	vertical-align:bottom;
	background-color: grey;
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 15px;
}



.h1 {
	text-align: center;
	font-weight:bold;
	color: #712177;
	font-size: 70px
}

.h2 {
	text-align: center;
	color: #712177;
	font-size: 40px;
	font-weight:bold;	
}

.p {
	text-align: center;
	font-size: 25px;
	
	margin-top: 20px;
}

.fb-like, twitter-follow-button {
	display:inline-block;
	float: left;
}

.fb-post, twitter-timeline, intagram-media {
	position: absolute;
	top: 50%;
	left: 50%;
		
}

.footer {
    	position:relative;
    	left: 0;
	bottom: 0;
   	width: 100%;
	height: 20px;
    	background-color: #712177;
	text-align: center;
	font-style: italic;
	vertical-align: middle;
	color: white;
	font-size: 10px;
}
